@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lora:ital,wght@1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-image: linear-gradient(to right top, #fa570c, #fa6d03, #f98000, #f79208, #f5a217, #f5af21, #f5bb2c, #f5c737, #f7d340, #f9df4a, #faea54, #fbf65f);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100vw;
}

body {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.logo1 {
    max-width: 25%;
    filter: drop-shadow(0 0 0.75rem #061630);
    height: auto;
    margin: auto;
}

nav {
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 0%;
    bottom: 90%;
    left: 20%;
    z-index: 1;
}

a.nav-anchor {
    width: 200px;
    font-size: xx-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: 0 40px 0 40px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}

a.nav-anchor:hover {
    background-color: crimson;
    filter: drop-shadow(0 0 1rem white);
}

.welcome {
    width: 80%;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 4px black;
    color: #061731;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20%;
    right: 0;
    bottom: 80%;
    left: 20%;
    line-height: 25px;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 4px black;
    color: #061731;
    text-shadow: -2px 0 white, 0 1px white, 1px 0 white, 0 -2px white;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
    line-height: 50px;
}

i {
    width: 40px;
    line-height: 50px;
}

.wrapper, .icon {
    display: inline-block;
    margin-right: 50px;
    margin-left: 50px;
}

footer i:hover {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 60px;
    transition: 0.7s;
}

.about {
    font-size: x-large;
    color: white;
    width: 90vw;
    margin: auto;
    background-color: crimson;
    border: 1px solid white;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

p {
    margin: 10px;
}

.contact-us {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: x-large;
    text-shadow: 2px 2px 4px black;
    color: #061731;
    text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
}

.contact-section p {
    text-align: center;
}

.contact-span {
    font-size: x-large;
    color: #061731;
    width: 500px;
    margin: auto;
    background-image: linear-gradient(to right top, #fa570c, #fa6d03, #f98000, #f79208, #f5a217, #f5af21, #f5bb2c, #f5c737, #f7d340, #f9df4a, #faea54, #fbf65f);
    border: 2px solid white;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.75rem white);
}

.contact-span i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
}

.contact-span a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.border1 {
    width: 100vw;
    height: 70vh;
}

#game {
    display: flex;
}

.game-div {
    width: 80vw;
    margin: auto;
    padding: 10px;
    color: #061630;
    font-size: 24px;
    border: 5px solid white;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #fa570c, #fa6d03, #f98000, #f79208, #f5a217, #f5af21, #f5bb2c, #f5c737, #f7d340, #f9df4a, #faea54, #fbf65f);
    filter: drop-shadow(0 0 0.75rem #061630);
    text-align: center;
}

hr {
    width: 20vw;
    border: 2px solid white;
}

#game-zone {
    width: 100%;
    height: 270px;
    margin: 20px 0 20px 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
}

.to-be {
    height: 200px;
    width: auto;
    margin: 5px 490px 0px 490px;
    border: 5px solid #061630;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #061630);
}

a.image-anchor:hover {
    filter: drop-shadow(0 0 1rem white);
}

.ser {
    width: 200px;
    font-size: xx-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: 5px 500px 5px 500px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}

a.ser:hover, #game button:hover, #strike-button:hover, #restart-button:hover, #audio-button:hover {
    background-color: crimson;
    filter: drop-shadow(0 0 1rem white);
}

#game {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}

#game button {
    width: 200px;
    font-size: xx-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}

/* display anagram list divs evenly in row */
#list-section {
    display: flex;
    justify-content: space-evenly; 
}

.anagram-head {
    text-align: center;
    font-size: x-large;
    color: #061731;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
    filter: drop-shadow(0 0 0.75rem white);
}

.info-logo {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    margin-top: 5px;
}

.list-ser {
    height: 180px;
    border: 2px solid white;
    background-image: linear-gradient(to right top, #151431, #232548, #31385f, #3f4b78, #4d6092, #4e6295, #506599, #51679c, #475789, #3d4777, #333865, #292a53);
    filter: drop-shadow(0 0 0.75rem #EE204F);
}

.list-estar {
    height: 180px;
    border: 2px solid white;
    background-image: linear-gradient(to right top, #5a1e2d, #712134, #89253a, #a1283f, #b92b43, #bc2a3f, #bf293b, #c12837, #af212d, #9d1a23, #8b131a, #7a0c11);
    filter: drop-shadow(0 0 0.75rem #EE204F);
}

#playPauseIcon {
    display: flex;
}

#audio-button {
    width: 100px;
    font-size: x-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 30px;
    justify-self: center;
}

#random-sentence {
    margin: auto;
    padding: 5px;
    border: 1px solid white;
    background-color: crimson;
    color: white;
}

input {
    height: 30px;
    width: 200px;
    margin: auto;
    border: 1px solid crimson; 
    border-radius: 5px;
    font-size: 24px;
}

#strike-button, #restart-button {
    width: 100px;
    font-size: x-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 30px;
}

.score-area {
    display: flex;
    align-items: center;
    position:relative;
    left: 26%;
}

.king-ser {
    width: 10%; 
    height: auto;
    margin: 0;
}

.king-estar {
    width: 10%; 
    height: auto;
    margin: 0;
}

.score-area p {
    margin: 24px 0px 24px 0px;
    height: 24px;
    padding: 5px;
    text-align: center;
    font-size: x-large;
    text-shadow: 1px 1px 2px white;
    color: #061731;
}

.ser-points {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7) 95%);
}

.estar-points {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
}

@media only screen and (max-width: 1024px) {
    .about {
        font-size: large;
        width: 85vw;
    }
    
    #game-zone {
        width: 100%;
        height: 190px;
    }
    
    .to-be {
        height: 150px;
        width: auto;
        margin: 0px 440px 0px 440px;
    }
   
    .ser {
        width: 150px;
        font-size: large;
        margin: 0 465px 0 465px;
        padding: 3px;
        white-space: nowrap;
    }

    /* display anagram list divs evenly in row */
    #list-section {
        display: flex;
        justify-content: space-evenly; 
    }
    
    .anagram-head {
        text-align: center;
        font-size: x-large;
        line-height: 24px;
    }
    
    .info-logo {
        height: 45px;
        width: auto;
        margin-right: 5px;
        margin-top: 5px;
    }
    
    .list-ser {
        height: 200px;
        font-size: 20px;
        border: 2px solid white;
        background-image: linear-gradient(to right top, #151431, #232548, #31385f, #3f4b78, #4d6092, #4e6295, #506599, #51679c, #475789, #3d4777, #333865, #292a53);
        filter: drop-shadow(0 0 0.75rem #EE204F);
    }
    
    .list-estar {
        height: 200px;
        font-size: 20px;
        border: 2px solid white;
        background-image: linear-gradient(to right top, #5a1e2d, #712134, #89253a, #a1283f, #b92b43, #bc2a3f, #bf293b, #c12837, #af212d, #9d1a23, #8b131a, #7a0c11);
        filter: drop-shadow(0 0 0.75rem #EE204F);
    }
}

@media only screen and (max-width: 768px) {
    .logo1 {
        max-width: 25%;
        filter: drop-shadow(0 0 0.75rem #061630);
        height: auto;
        margin: auto;
    }
    
    nav {
        width: 85%;
        height: 40px;
        margin-top: -50px;
    }
    
    a.nav-anchor {
        width: 190px;
        font-size: x-large;
    }
    
    .welcome {
        width: 80%;
        height: 80px;
        text-align: center;
        font-size: x-large;
        margin-top: -50px;
    }
    
    .about {
        font-size: large;
        width: 90vw;
        margin: 5px 50px 5px 50px;
    }
    
    .contact-us {
        font-size: large;
    }

    .footer {
        margin-bottom: 0;
    }
    
    #game-zone {
        height: 250px;
        margin: 15px 0 15px 0;
    }
    
    .to-be {
        height: 150px;
        width: auto;
        margin: 5px 310px 0px 310px;
    }

    .ser {
        width: 150px;
        font-size: x-large;
        margin: 5px 320px 5px 320px;
    }

    #game button {
        width: 190px;
        font-size: x-large;
    }
    
    .game-div {
        font-size: 20px;
    }

    #list-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px; 
        margin-left: 50px;
    }
    
    .anagram-head {
        text-align: left;
        font-size: 20px;
        width: 250px;
    }
    
    .list-ser {
        height: 150px;
        font-size: 18px;
        width: 250px;
    }
    
    .list-estar {
        height: 150px;
        font-size: 18px;
        width: 250px;
    }

    .score-area {
        display: flex;
        align-items: center;
        position:relative;
        left: 20%;
    }
}