@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lora:ital,wght@1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-image: linear-gradient(to right top, #fa570c, #fa6d03, #f98000, #f79208, #f5a217, #f5af21, #f5bb2c, #f5c737, #f7d340, #f9df4a, #faea54, #fbf65f);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo1 {
    max-width: 25%;
    filter: drop-shadow(0 0 0.75rem #061630);
    height: auto;
    margin: auto;
}

nav {
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 0%;
    bottom: 90%;
    left: 20%;
    z-index: 1;
}

nav > a {
    width: 200px;
    font-size: xx-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: 0 40px 0 40px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}

.welcome {
    width: 80%;
    height: 100px;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 4px black;
    color: #061731;
    text-shadow: -4px 0 white, 0 4px white, 4px 0 white, 0 -4px white;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
    display: flex;
    position: absolute;
    justify-content: center;
    top: 20%;
    right: 0;
    bottom: 80%;
    left: 20%;
    line-height: 25px;
}

.about {
    font-size: x-large;
    color: white;
    width: 90vw;
    margin: auto;
    display: flex;
    background-color: crimson;
    border: 1px solid white;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

.author-head {
    margin: 50px;
}

.author {
    font-size: x-large;
    color: white;
    width: 90vw;
    margin: auto;
    background-color: crimson;
    border: 1px solid white;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

p {
    margin: 10px;
}

.homeimage2 {
    width: 100%;
    height: 70vh;
}

.border1 {
    width: 100vw;
    height: 70vh;
}

.game-div {
    width: 800px;
    margin: auto;
    padding: 10px;
    color: #061630;
    font-size: 30px;
    border: 5px solid white;
    border-radius: 5px;
    background-image: linear-gradient(to right top, #fa570c, #fa6d03, #f98000, #f79208, #f5a217, #f5af21, #f5bb2c, #f5c737, #f7d340, #f9df4a, #faea54, #fbf65f);
    filter: drop-shadow(0 0 0.75rem #061630);
    text-align: center;
}

#game-zone {
    width: 100%;
    height: 270px;
    margin: 20px 0 20px 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 95%);
}

.to-be {
    height: 200px;
    width: auto;
    margin: 5px 490px 0px 490px;
    border: 5px solid #061630;
    border-radius: 50%;
    filter: drop-shadow(0 0 0.75rem #061630);
}

.ser {
    width: 200px;
    font-size: xx-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: 5px 500px 5px 500px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}