@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lora:ital,wght@1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-image: linear-gradient(to right top, #fa570c, #fa6d03, #f98000, #f79208, #f5a217, #f5af21, #f5bb2c, #f5c737, #f7d340, #f9df4a, #faea54, #fbf65f);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;   
}

.logo1 {
    max-width: 25%;
    height: auto;
    margin: auto;
    filter: drop-shadow(0 0 0.75rem #061630);
}

nav {
    width: 80%;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    right: 0%;
    bottom: 90%;
    left: 20%;
    z-index: 1;
}

a {
    width: 200px;
    font-size: xx-large;
    color: white;
    background-color: #061630;
    filter: drop-shadow(0 0 0.75rem #EE204F);
    margin: 0 40px 0 40px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
}

.welcome {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: xx-large;
}

.about {
    font-size: x-large;
    color: white;
    width: 90vw;
    margin: auto;
    display: flex;
    background-color: crimson;
    border: 1px solid white;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

.author-head {
    margin: 50px;
}

.author {
    font-size: x-large;
    color: white;
    width: 90vw;
    margin: auto;
    background-color: crimson;
    border: 1px solid white;
    border-radius: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

p {
    margin: 10px;
}

.homeimage2 {
    width: 100%;
    height: 70vh;
}

.border1 {
    width: 100vw;
    height: 70vh;
}

.logo2 {
    max-width: 20%;
    height: auto;
    position: left;
    margin: 10px;
    padding: 5px;
}
